In [6]:
import pandas as pd
from pandas import ExcelFile
import numpy as np
import random

In [7]:
df = pd.read_excel('TECH 2709 Getty Dataset.xlsx', sheet_name='Generated Descriptions')
# Get names of indexes for which column Age has value 30

indexNames = df[ df['Reject'].isnull()==False].index
 
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
df.head()

,Unnamed: 0,Reject,Age Range,# of People,Prompt,Response,Reject.1
0,Nikita,NaN,young,1,"""happy person ""","."")\nKnown for his skillfully rendered charact...",NaN
1,NaN,NaN,young,1,"""sad person ""","下,meaning Da, or French for Child). According ...",NaN
2,NaN,NaN,young,3+,"""surprised and angry """,urn-possessed woman as he embarks upon a hunt ...,NaN
4,NaN,NaN,NaN,1,happy young man,」\nAmong the countless nymphs whom Mary Magdal...,NaN
6,NaN,NaN,young,,NaN,」 Edward conveys the moment's somber self-indu...,NaN

In [31]:
df2 = pd.read_excel('TECH 2709 Getty Dataset.xlsx', sheet_name='Generated Titles')
indexNames_title = df2[df2['Reject'].isnull() == False].index
# endregion

#region Setup for Get Description by index
df2.drop(indexNames_title,inplace=True)
df2_title = df2['Title'].dropna()
df_numOfPeople_title = df2['# of People'].dropna()
is_single_title = df_numOfPeople_title.astype(str).str.contains('1')
is_multiple_title = df_numOfPeople_title.astype(str).str.contains('2') | df_numOfPeople_title.astype(str).str.contains('3+')
df_single_title = df_numOfPeople_title.loc[is_single_title].index
df_multiple_title = df_numOfPeople_title.loc[is_multiple_title].index

def get_title_by_index(indexs):
    return df2_title[random.choice(indexs)]
len(df2_title)
df_single_title

0       True
1       True
2      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22      True
23      True
24     False
25      True
26      True
27     False
28     False
29      True
30     False
31      True
32     False
33      True
34      True
35      True
       ...
459    False
460    False
461    False
462     True
463     True
464     True
465     True
466    False
467     True
468    False
469    False
470    False
471    False
472     True
473     True
474    False
475    False
477     True
478     True
479     True
480     True
481     True
482    False
483     True
484     True
485     True
486     True
487     True
488    False
489     True
Name: # of People, Length: 455, dtype: bool

KeyError: '[ 47  52 134 149 154 223 236 255 303 320 328 341 365 373 378 383 420 436\n 476] not found in axis'

In [107]:
df_ageRange = df['Age Range'].dropna()
df_numOfPeople = df['# of People'].dropna()
df_emotion = df['Prompt'].dropna()
df_responses = df['Response'].dropna()  # [0:50]
df_emotion

0                       "happy person "
1                         "sad person "
2                "surprised and angry "
4                      happy young man
7                        sad young man
8                        sad young man
9                        sad young man
11                     angry young man
12                     angry young man
13                 surprised young man
14                 surprised young man
15                 surprised young man
17                        happy people
19                        happy people
20                happy and sad person
21              happy and angry person
22                    surprised people
23                         Happy Person
24                         Happy Person
25                         Happy Person
26                   Happy young person
27                   Happy young person
28                   Happy young person
29                   Happy young person
30                     Happy Old Person
31                     Happy Old Person
32                     Happy Old Person
33                        Happy Old Man
34                        Happy Old Man
35                        Happy Old Man
                     ...
1133              sad old man and woman
1134       frightened old man and woman
1135       frightened old man and woman
1136       frightened old man and woman
1137                     happy children
1138                     happy children
1139                       sad children
1140                       sad children
1141                       sad children
1142                         happy girl
1143                         happy girl
1144                         happy girl
1145                          happy boy
1146                          happy boy
1147                           sad girl
1148                          sad girl
1149                           sad girl
1150               happy and sad people
1151               happy and sad people
1152        happy and frightened people
1153        happy and frightened people
1154         happy and disgusted people
1155         happy and disgusted people
1156         happy and disgusted people
1157     surprised and disgusted people
1158     surprised and disgusted people
1159     surprised and disgusted people
1160    surprised and frightened people
1162    surprised and frightened people
1163        happy and frightened people
Name: Prompt, Length: 1068, dtype: object

In [105]:
is_child = df_ageRange.str.contains("child")
is_young = df_ageRange.str.contains("young")
is_old = df_ageRange.str.contains("old")
is_single = df_numOfPeople.astype(str).str.contains('1') 
is_multiple = df_numOfPeople.astype(str).str.contains('2') | df_numOfPeople.astype(str).str.contains('3+')
is_happy = df_emotion.str.contains("happ")
is_sad = df_emotion.str.contains("sad")
is_angry = df_emotion.str.contains("angr")
is_surprise = df_emotion.str.contains("surpri")
is_disgust = df_emotion.str.contains("disgus")
is_fear = df_emotion.str.contains("fear")
is_netural = (is_happy|is_sad|is_angry|is_surprise|is_disgust|is_fear) == False


df_child = df_ageRange.loc[is_child]
df_young = df_ageRange.loc[is_young]
df_old = df_ageRange.loc[is_old]

df_single = df_numOfPeople.loc[is_single]
df_multiple = df_numOfPeople.loc[is_multiple]

df_happy = df_emotion.loc[is_happy].index
df_sad = df_emotion.loc[is_sad].index
df_angry = df_emotion.loc[is_angry].index
df_surprise = df_emotion.loc[is_surprise].index
df_disgust = df_emotion.loc[is_disgust].index
df_fear = df_emotion.loc[is_fear].index
df_neutral=  df_emotion.loc[is_netural].index

import random
def get_description_by_index(indexs):
    return df_responses[random.choice(indexs)]

In [106]:
get_description_by_index(df_angry)

'who had not yet achieved enlightenment. With that statement, she described a landscape, the somber and barren countryside, beautifully rendered. The figure in the lower left provides an example of an unidentified woman with short, flowing hair and delicate features.  The painting was probably a representation'

In [85]:
def whatisthis(s):
    if isinstance(s, str):
        print("ordinary string")
    elif isinstance(s, unicode):
        print("unicode string")
    else:
        print("not a string")
        
whatisthis(3232)

NameError: name 'unicode' is not defined